@font-face {
  font-family: "Sansation-Bold";
  src: url(./fonts/Sansation-BoldItalic.ttf);
}

body {
  margin: 0;
  font-family: "Sansation-Bold", sans-serif;
  background-color: rgb(23, 49, 94);
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(44, 83, 149);
  box-shadow: 5px 5px 5px rgb(32, 181, 230);
}

.nav-bar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 16px;
}

.nav-bar a:hover {
  display: inline-block;
  transition: color 0.3s ease, transform 0.6s ease;
  transform: scale(1.1);
  cursor: pointer;
  text-decoration: none;
  color: darkgrey;
}

.header-logo {
  width: 350px;
  margin: 20px;
}

main {
  margin-inline: 250px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  color: white;
  font-size: 60px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-items: center; 
  max-width: calc(5 * 250px + 4 * 25px); /* 5 Bilder nebeneinander */
  margin: 0 auto;
}
.small-img {
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.small-img:hover {
  transform: scale(1.1);
}


footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-inline: 20px;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  height: 100px;
  background-color: rgb(44, 83, 149);
  box-shadow: 5px 5px 5px rgb(32, 181, 230);
}

.footer-icon {
  height: 50px;
}
