@font-face {
  font-family: "Sansation-Bold";
  src: url(./fonts/Sansation-BoldItalic.ttf);
}

body {
  margin: 0;
  font-family: "Sansation-Bold", sans-serif;
  background-color: rgb(23, 49, 94);
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(44, 83, 149);
  box-shadow: 5px 5px 5px rgb(32, 181, 230);
}

.nav-bar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 16px;
}

.nav-bar a:hover {
  display: inline-block;
  transition: color 0.3s ease, transform 0.6s ease;
  transform: scale(1.1);
  cursor: pointer;
  text-decoration: none;
  color: darkgrey;
 
}

.header-logo {
  width: 350px;
  margin: 20px;
}

main {
  margin-inline: 250px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  color: white;
  font-size: 60px;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 16px;
}
.small-img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}
.small-img:hover {
  transform: scale(1.1);
}

dialog {
  border: none;
  padding: 0;
  background: transparent;
  overflow: hidden;
  position: fixed;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  border: none;
}

/* Bild zentrieren */
#bigImg {
  display: block;
  max-width: 70vw;
  max-height: 60vh;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
  border: none;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: red;
  font-size: 32px;
  line-height: 1;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease;
}

.closeBtn:hover {
  background: rgba(0, 0, 0, 0.85);
  transform: scale(1.1);
}

.nav-btn {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: red;
  border: 2px;
  border-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
}
.nav-btn:hover {
  background: rgba(0, 0, 0, 0.85);
}

.prevBtn {
  left: 16px;
}

.prevBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease, transform 0.2s ease;
}

.nextBtn {
  right: 16px;
}

.nextBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease, transform 0.2s ease;
}

#pictureDescription {
  text-align: center;
  color: white;
  font-size: 24px;
  margin-top: 10px;
  font-weight: 500;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-inline: 20px;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  height: 100px;
  background-color: rgb(44, 83, 149);
  box-shadow: 5px 5px 5px rgb(32, 181, 230);
}

.footer-icon {
  height: 50px;
}

@media (max-width: 1200px) {
  main {
    margin-inline: 70px;
  }
  .nav-bar a {
    display: none;
  }

  h1 {
    font-size: 48px;
    margin-top: 50px;
    margin-inline: 15px;
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    object-fit: cover;
  }

  .img-container img {
    width: 300px;
    border-radius: 10px;
  }
  .small-img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  footer {
    position: static;
  }
}

@media (max-width: 455px) {
  main {
    margin-inline: 95px;
  }
  header {
    margin-inline: 15px;
  }
  .nav-bar a {
    display: none;
  }

  .header-logo {
    display: flex;
    width: 215px;
    margin-inline: 25px;
    justify-content: center;
  }
  h1 {
    text-align: start;
    display: flex;
    font-size: 26px;
    margin-inline: -15px;
    margin-bottom: 50px;
    text-align: center;
  }

  .small-img {
    width: 300px;
    height: 150px;
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .closeBtn {
    top: 5px;
    right: 8px;
    font-size: 24px;
    width: 30px;
    height: 30px;
  }
  .nav-btn {
    font-size: 24px;
    width: 30px;
    height: 30px;
  }

  #pictureDescription {
    font-size: 16px;
  }

  footer {
    position: static;
  }
}
