@font-face {
  font-family: "Sansation-Bold";
  src: url(./fonts/Sansation-BoldItalic.ttf);
}

body {
  margin: 0;
  font-family: "Sansation-Bold", sans-serif;
  background-color: rgb(23, 49, 94);
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(44, 83, 149);
  box-shadow: 5px 5px 5px rgb(32, 181, 230);
}

.nav-bar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 16px;
}

.nav-bar a:hover {
  display: inline-block;
  transition: color 0.3s ease, transform 0.6s ease;
  transform: scale(1.1);
  cursor: pointer;
  text-decoration: none;
  color: darkgrey;
}

.header-logo {
  width: 350px;
  margin: 20px;
}

main {
  margin-inline: 250px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  color: white;
  font-size: 60px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-items: center;
  max-width: calc(5 * 250px + 4 * 25px); /* 5 Bilder nebeneinander */
  margin: 0 auto;
}
.small-img {
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.small-img:hover {
  transform: scale(1.1);
}

dialog {
  border: none;
  padding: 0;
  background: transparent;
  overflow: hidden;
  position: fixed;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  border: none;
}

/* Bild zentrieren */
#bigImg {
  display: block;
  max-width: 70vw;
  max-height: 60vh;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
  border: none;
}
#closeBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: red;
  font-size: 32px;
  line-height: 1;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease;
}

#closeBtn:hover {
  background: rgba(0, 0, 0, 0.85);
  transform: scale(1.1);
}

#closeBtn:hover {
  background: rgba(0,0,0,0.85);
}

.nav-btn {
  position: absolute;
  top: 50%;
  background: rgba(0,0,0,0.6);
  color: red;
  border: 2px;
  border-color: red;
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
  
}
.nav-btn:hover{
   background: rgba(0, 0, 0, 0.85);

}

#prevBtn { 
  left: 16px; 
}

#prevBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease, transform 0.2s ease;
}

#nextBtn { 
  right: 16px; 
}

#nextBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease, transform 0.2s ease;
}

#pictureDescription {
  text-align: center;
  color: white;
  font-size: 24px;
  margin-top: 10px;
  font-weight: 500;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-inline: 20px;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  height: 100px;
  background-color: rgb(44, 83, 149);
  box-shadow: 5px 5px 5px rgb(32, 181, 230);
}

.footer-icon {
  height: 50px;
}
